# vi:filetype=gitconfig

[commit]
    verbose = true

[includeIf "gitdir:~/src/booking/"]
    path = ~/src/booking/.gitconfig-booking

[includeIf "gitdir:~/src/gonzo/"]
    path = ~/src/gonzo/.gitconfig-gonzo
